#login{
    width: 100px; /* aumenta a largura */
    height: 40px; /*aumenta a altura */
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* bordas redondas */
    border: none; /* tira as bordas */
}


#navbar{
  display: flex;
  justify-content: center;
  align-items: center;

}
#banner{
    height: 550px;
    width: 550px;
}   

.texto-banner{
    font-size: 60px;
    font-weight: bolder;
 }
 .caixa-texto{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
.caixa-estrutura{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;

 }

#food{
  color: rgb(206, 46, 46);
}

#btn-get{
    width: 100px; /*aumenta a largura */
    height: 40px; /*aumenta a altura */
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* bordas redondas */
    border: none; /* tira as bordas */
}
.card-titulo{
    text-align: center;
  
}
.titulos-secundarios{
 color: rgb(206, 46, 46);
 font-weight: 500;
 
}

.titulos-primarios{
  font-weight: bolder;
  font-size: 35px;
  flex-direction: row;
}
.caixa-titulo{
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
  flex-direction: row;
  

}
.caixaf2{
  font-weight: 900;

}
.caixa-best{
  font-weight: 900;
}
 .sub-texto{
  font-weight: bold; /*deixa as letras em negrito*/
  font-size: large; /*aumenta o texto*/
   }
  .caixa-cards{
   display: flex;
   align-items: center;
   justify-content: space-around;
   
  }

  .caixa-titulos{
     color: rgb(206, 46, 46);
     display: block;
     margin-bottom: 20px;
  }
  .caixa-card{
    width: 450px;
    display: flex;
    flex-direction: column;
    font-weight: bold; /*deixa as letras em negrito*/
    font-size: large; /*aumenta o texto*/
    display: block;
    margin-bottom: 60px;
    
  }
  .caixa-cards img {
    width: 300;
    height: 300;
    gap: 40px; /*espaço entra as imagens,etc*/
    border-radius:20px ;
   
  } 
